<ion-view title ='<div class="title-image" ></div>'>
<style>
p{
  text-align:justify;;
}
</style>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/basket"><i class="icon ion-ios-cart"></i><span  class="badge badge-dark">{{cartItems}}</span></a>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-positive">
          <h1 class="title">About</h1>
    </ion-header-bar>
    <ion-content class="has-header padding" >
    	<p>Parnami Packaging was founded 30 years ago with the sole objective of finding the finest security and packing solutions for the individuals and companies across the globe.

      </p>
      <h4 class="title" ><b>  WHY TO CHOOSE PACKNATION?</b></h4>
      <p>

Before having a look over our wide range of products, it is your absolute right to get familiar with the features that makes us an outstanding tamper proof packaging manufacturer and supplier in the market.
We are currently holding a record of more the 5000 satisfied customers worldwide.

The quality of the product materials is rigorously tested in our labs in the real life conditions before getting approved for manufacturing.
 All our products are eco-friendly with the application of the non-toxic dyes. Ecommerce boxes are readily made available with the brand specifications at the client’s request.
Flipkart Printed Tamper Proof Bags are also offered with customized specifications, light weight and advanced security measures.

Our   product technicians and workers keep themselves well upgraded with the latest technologies and implement them to formulate the best in class products.
We offer the best and transparent prices in the market that can be compared and verified with the competitors anytime.
All the customized designing orders are completed within the ordered time with the application of any number of  workforce necessary without compromising the quality of even a single piece.</p>
    </ion-content>
</ion-view>
