<ion-view title ='<img class="title-image" src="images/logo.png" />'>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon arrow_back_custom"></i></i></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear"><i class="icon ion-ios-cart"></i><span  class="badge badge-dark">{{cartItems}}</span></a>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-positive">
          <h1 class="title">Cart</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div ng-show="!cartItems" class="text-center padding">Your cart is empty.</div>
        <div class="card" ng-show="cartItems" ng-repeat="product in basketProducts">
            <div class="card-content">
                <div class="row">
                      <div class="title ng-binding" style="font-size: 18px;padding-left: 9%;">{{product.title}} </div>
                </div>
                <div class="row">
                    <div class="col">
                      <a class="item" style="padding: 4px 40px 4px 0px;" ng-href="#/app/products/{{product.id}}">
                          <img ng-if="product.images[0].src" ng-src="{{product.images[0].src}}" style="border-radius: 4px;" />
                      </a>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col">Quantity <br/><div ng-if='product.quantity > 1'>{{product.quantity}} </div></div>
                        <div class="col" ng-if="!product.variation.price">Unit price <br/><div>{{meta.currency_format}} {{product.price | number:2}}</div></div>
                        <div class="col" ng-if="product.variation.price">Unit price <br/>{{meta.currency_format}}<div ng-bind-html="getFormmatedPrice(product.variation.price)"></div></div>
                      </div>
                      <div class="row" style="margin-top: 10%;margin-left: 11%;">
                        <div class="col col-67 col-offset-33">
                            <button class='button button-small' ng-click="removeProduct(product.id)"><i class="icon ion-trash-a"></i> Remove</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='item item-divider' ng-if="cartItems">
            <div class='row'>
              <div class="col col-50">
                <input name="couponCode" type="text" style="width:100%;" placeholder=" Enter coupon code" ng-model="helperData.couponCode">
              </div>
              <div class="col col-33">
                <button class='button button-small button-positive col' style="font-size:17px;" ng-click="applyCoupon()">
                     Apply
                </button>
              </div>
            </div>
            <div class='row'><div style="color:red;" ng-bind-html="validationCoupon"></div>
            </div>
        </div>
        <div class='item item-divider' ng-if="cartItems">
            <div class='row' ng-show="discountAmount">
                <div  class="col col-67 text-right"> Sub-total:</div>
                <div  class="col col-33"> {{meta.currency_format}} {{oldTotalPriceHtml}}</div>
            </div>
            <div class='row' ng-show="discountAmount">
                <div  class="col col-67 text-right"> Discount:</div>
                <div  class="col col-33"> - {{meta.currency_format}} {{discountAmount}}</div>
            </div>
            <div class='row'>
                <div  class="col col-67 text-right"> <b>Total:</b></div>
                  <b><div  class="col col-33 text-right" ng-bind-html="totalPriceHtml"></div></b>
            </div>
        </div>
        <div class='item' ng-if="cartItems">
            <div class='text-right'>
                <button class='button button-small' ng-click="emptyBasket()" style="float:right;"><i class="icon ion-trash-a"></i> Empty Cart</button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar ng-show="cartItems" class="bar-positive" ng-click="proceedToOrder()">
           <h1 class="title">
              <i class="icon ion-ios-cart-outline"></i> Proceed to checkout
            </h1>
    </ion-footer-bar>
</ion-view>
