
<ion-view title="{{index.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/basket"><i class="icon ion-ios-cart"><span class="badge badge-dark">{{cartItems}}</span></i></a>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="screen">
            <div class="item-text-wrap text-center">
                <a class="text-center"  href="#/app/products">
                    <img src="images/all-product.jpg" />
                  </a>
            </div>
        </div>
          <div class="row" ng-init="count=0"  ng-repeat="row in categories | partition:2">
              <!-- Parent -->
              <div  class="col"  ng-repeat="category in row">
                  <div class="card-content categoryBox" style="background-image:url(images/{{category.slug}}.jpg);" ng-click="moveToCategory(category)">
                      <div >
                        {{category.name}}
                      </div>

                      <!-- <div ng-if="category.description" class="text-right product-price">
                          <i class="icon ion-pricetag"></i>
                          <div class='item-text-wrap' ng-bind-html="category.description"></div>
                      </div> -->
                  </div>
              </div>
            </div>
    </ion-content>
</ion-view>
