<style>
.card{
  padding: 0px;
  text-decoration: none;
  box-shadow: none;
}
.imageBox{
  width: 100%;
  height: 150px;
}
.countBadge{
  position: absolute;
    background-color: #32AF28;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-bottom: 1%;
    top: 5%;
    width: 7%;
    /* float: right; */
    margin-right: 2%;
    /* left: 4%; */
    margin-left: 1%;
}
.countBadge2{
    background-color: #32AF28;
    border-radius: 9px;
    margin-right: 2%;
    text-align: center;
    font-size: 16px;
    color: white;
    float: right;
    width: 8%;
    padding-bottom: 1%;
}
.viewAll{
    background-color: #FFB516;
    text-align: center;
    padding-top: 2%;
    font-size: 27px;
    border-radius: 5px;
    border-style: double;
    border-color: wheat;
    border-width: 5px;
}
</style>
<ion-view title="Categories">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/basket"><i class="icon ion-ios-cart"><span class="badge badge-dark">{{cartItems}}</span></i></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
<!-- child only -->
          <div class="row" ng-if="categories.children.length > 0"   >
            <a class="card col"  href="#/app/categories/{{subCat.slug}}/{{subCat.name}}" ng-repeat="subCat in categories.children">
                <div class="imageBox">
                    <div class="countBadge">{{subCat.count}} </div>
                    <img class="card-content" ng-src="../images/{{subCat.slug}}.png" style="width: auto;height: 100%;"  />

                  </div>
                <div class="product-title  text-center " style="background-color: wheat;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);border-radius: 0px 0px 2px 2px;">
                    <font size="3" color="black">{{subCat.name}} </font>
                </div>
            </a>
          </div>
          <!-- Parent -->
          <div class="row" ng-if="categories.count > 0">
              <a class='card imageBox viewAll'  class="text-center category-title" href=" #/app/categories/{{categories.slug}}/{{categories.name}}">
                <div class="countBadge2">{{categories.count}} </div><br/>
                View All  <div class='h3'>{{categories.name}}  <i class="ion-chevron-right"></i></div>

              </a>
          </div>
  <div class="row" ng-if="!categories.count"   >

  <div class='card imageBox viewAll' >Yet {{categories.name}} not have any product.</div>


  </div>
                <!-- Sub-categories -->
                <!-- <div ng-if="category.children.length > 0">

                    <ul class="list">
                        <li class="item" ng-repeat="c in category.children">
                            <a class="text-wrap category-title" href="#/app/categories/{{c.slug}}/{{c.name}}">
                                <div easypiechart class="chart" options="options" percent="getPercentageValue(c.count, category.count)"></div>
                                <h2 class="text-center">{{c.name}} - <b>{{c.count}}</b></h2>
                            </a>
                        </li>
                    </ul>

                </div> -->


    </ion-content>
</ion-view
