<ion-view title ='<img class="title-image" src="images/logo.png" />'>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/basket"><i class="icon ion-ios-cart"></i><span  class="badge badge-dark">{{cartItems}}</span></a>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-positive" ng-show="categories.count" ng-click="moveToProduct(categories)">
            <h1 class="title">{{categories.name}}</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer padding">
<!-- child only --><div  ng-if="categories.count > 1"   >

          <div class="row" ng-repeat="row in categories.children | partition:2"  >
            <div  class="{{row.rowClass}}"  ng-repeat="subCat in row">
                <div class="card-content categoryBox" style="background-image:url(images/{{subCat.slug}}.jpg);"
                      ng-click="moveToProduct(subCat)">
                    <div >
                      {{subCat.name}}
                    </div>

                <!-- <div ng-if="category.description" class="text-right product-price">
                    <i class="icon ion-pricetag"></i>
                    <div class='item-text-wrap' ng-bind-html="category.description"></div>
                </div> -->
              </div>
            </div>

            <!-- <a class="card col"  href="#/app/categories/{{subCat.slug}}/{{subCat.name}}" ng-repeat="subCat in categories.children">
                <div class="imageBox">
                    <div class="countBadge">{{subCat.count}} </div>
                    <img class="card-content" ng-src="../images/{{subCat.slug}}.jpg" style="width: auto;height: 100%;"  />

                  </div>
                <div class="product-title  text-center " style="background-color: mediumaquamarine;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);border-radius: 0px 0px 2px 2px;">
                    <font size="3" color="black">{{subCat.name}} </font>
                </div>
            </a> -->
          </div>
          <!-- Parent -->
          <!-- <div class="row" ng-if="categories.count > 0">
              <a class='card imageBox viewAll'  class="text-center category-title" href=" #/app/categories/{{categories.slug}}/{{categories.name}}">
                <div class="countBadge2">{{categories.count}} </div><br/>
                View All  <div class='h3'>{{categories.name}}  <i class="ion-chevron-right"></i></div>

              </a>
          </div> -->
        </div>
  <div class="row" ng-if="!categories.count"   >
    <div class="card-content noProduct" style="background-image:url(images/workInprocess.jpg);">


      <!-- <div ng-if="category.description" class="text-right product-price">
          <i class="icon ion-pricetag"></i>
          <div class='item-text-wrap' ng-bind-html="category.description"></div>
      </div> -->
    </div>

  </div>
                <!-- Sub-categories -->
                <!-- <div ng-if="category.children.length > 0">

                    <ul class="list">
                        <li class="item" ng-repeat="c in category.children">
                            <a class="text-wrap category-title" href="#/app/categories/{{c.slug}}/{{c.name}}">
                                <div easypiechart class="chart" options="options" percent="getPercentageValue(c.count, category.count)"></div>
                                <h2 class="text-center">{{c.name}} - <b>{{c.count}}</b></h2>
                            </a>
                        </li>
                    </ul>

                </div> -->


    </ion-content>
</ion-view>
