.badge.badge-dark{
  top: -39px;
      left: 3px;;
  background-color: #ff5555;
}
.ion-ios-cart{
    content: url('../images/cartIcon.png') !important;
    margin-left: -13%;
margin-top: 11%;
}
.arrow_back_custom{
    content: url('../images/backIcon.png') !important;
    margin-left: 1%;
margin-top: 37%;
}
.largeSize {
  font-size: 83px;
  color: green;
}
.disableBtn{
  background-color: transparent;
border: none;
font-size: 17px !important;
color: rgba(218, 229, 236, 0.61);
}
.btnBreak{
  border-right:#106bc5;
  border-width: 1px;
  border-style: solid;
  top:0px;
}
.loginIcon{
  font-size: 60px;
}
.categoryBox{
  background-size: cover;
    background-repeat: no-repeat;
    padding-top: 73%;
    box-shadow: 0px -16px 16px #2b2121 inset;
    text-align: center;
    font-size: 15px;
    color: white;
    background-position-y: 80%;
}
.countBadge{
  position: absolute;
    /*background-color: #32AF28;*/
      background-color: darkorange;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-bottom: 1%;
    top: 5%;
    width: 7%;
    /* float: right; */
    margin-right: 2%;
    /* left: 4%; */
    margin-left: 1%;
}
.countBadge2{
    /*background-color: #32AF28;*/
  background-color: darkorange;
    border-radius: 9px;
    margin-right: 2%;
    text-align: center;
    font-size: 16px;
    color: white;
    float: right;
    width: 8%;
    padding-bottom: 1%;
}

.viewAll{
    /*background-color: #FFB516;*/
  background-color: orchid;
    text-align: center;
    padding-top: 2%;
    font-size: 27px;
    border-radius: 5px;
    border-style: double;
    border-color: wheat;
    border-width: 5px;
}
.noProduct{
  background-size: cover;
    background-repeat: no-repeat;
    padding-top: 73%;
    box-shadow: 0px -16px 16px #2b2121 inset;
    text-align: center;
    font-size: 15px;
    color: white;
  width: 100%;
    opacity: 0.6;
}

.bannerAllproduct{
    width: 100%;
    background-size: cover;
    height: 240px;
    background-repeat: no-repeat;
}
